.App {
  text-align: center;
}

.App-header {
  background-color: #36304a;
  min-height: 15vh;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 1;
}

header > p {
  display: block;
  float: left;
  padding-left: 3vw;
  margin: auto;
  max-height: 100%;
  text-align: left;
  font-size: calc(13px + 2vmin);
  font-variant: small-caps;
}

.gobackContainer {
  float: right;
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding-right: 20px;
}

button.goback {
  min-height: 10vh;
  min-width: 10vw;
  font-variant: small-caps;
  background-color: rgb(67,88,208,0.4);
  border-radius: 10px;
  border-color: white;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button.goback:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  border-color: rgb(67,88,208,0.4);
}

button:hover {
  cursor: pointer;
}

button.styledbutton, input.styledbutton {
  margin: auto;
  display: block;
  background-color: #36304a;
  border-radius: 10px;
  min-height: 10vh;
  min-width: 25vw;
  border-color: white;
  color: white;
  margin-top: 100px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button.styledbutton:hover, input.styledbutton:hover {
  background-color: white;
  color: black;
  border-color: #36304a;
}

.maincontainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  vertical-align: middle;
}

h1 {
  margin: 0;
  padding: 20px;
  color: #5a5a5a;
}

table {
  table-layout: fixed;
  border-collapse:collapse;
  box-shadow: 1px 1px 10px 2px;
  margin: auto;
  background-color: white;
}

table > thead {
  background-color: #36304a;
  color: white;
}

td {
  padding: 10px;
  color: #747474;
  font-variant: normal;
}

.tableheader > td {
  color: white;
}

tr:hover,tr:nth-child(even):hover { 
  background-color: rgb(219, 219, 219);
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

thead {
  font-weight: bold;
}

@media 
only screen and (max-width: 800px){

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
  
  table {
    min-width: 100vw;
  }

	/* Hide table headers (but not display: none;, for accessibility) */
	thead td { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td.userdata:nth-of-type(1):before { content: "Name"; }
	td.userdata:nth-of-type(2):before { content: "Email"; }
	td.userdata:nth-of-type(3):before { content: "Credits"; }
  td.userdata:nth-of-type(4):before { content: "View"; }
  
  td.transdata:nth-of-type(1):before { content: "Name"; }
  td.transdata:nth-of-type(2):before { content: "Email"; }
  td.transdata:nth-of-type(3):before { content: "Credits"; }
}